# git-ls-files --others --exclude-from=.git/info/exclude
# Lines that start with '#' are comments.
# For a project mostly in C, the following would be a good set of
# exclude patterns (uncomment them if you want to use them):
*.[oa]
# *~
a.out
moc_*
ui_*
qrc_icons.*
*.pro.user
redshift/bin/

qt-frontend/widgets/QtQuatschEditor/build/Makefile
qt-frontend/widgets/QtQuatschEditor/build/QtQuatschEditor

qt-frontend/widgets/QtSunSkyEditor/Makefile
qt-frontend/widgets/QtSunSkyEditor/QtSunSkyEditor

qt-frontend/widgets/ColorPicker/Makefile
qt-frontend/widgets/ColorPicker/ColorPicker
qt-frontend/widgets/ColorPicker/Makefile.Debug
qt-frontend/widgets/ColorPicker/Makefile.Release
qt-frontend/widgets/ColorPicker/debug/
qt-frontend/widgets/ColorPicker/release/

qt-frontend/SimplexGui/debug/
qt-frontend/SimplexGui/release/
qt-frontend/SimplexGui/Makefile
qt-frontend/SimplexGui/Makefile
qt-frontend/SimplexGui/qrc_qtpropertybrowser.cpp
qt-frontend/SimplexGui/qteditorfactory.moc
qt-frontend/SimplexGui/qtpropertymanager.moc
qt-frontend/SimplexGui/qttreepropertybrowser.moc
qt-frontend/SimplexGui/picogen-simplex
qt-frontend/SimplexGui/Makefile.Debug
qt-frontend/SimplexGui/Makefile.Release
qt-frontend/SimplexGui/object_script.simplex-gui.Debug
qt-frontend/SimplexGui/object_script.simplex-gui.Release
qt-frontend/SimplexGui/qrc_resources.cpp

qt-frontend/StyleDemo/Makefile
qt-frontend/StyleDemo/debug
qt-frontend/StyleDemo/release
qt-frontend/StyleDemo/StyleDemo
qt-frontend/StyleDemo/Makefile.Debug
qt-frontend/StyleDemo/Makefile.Release

qt-frontend/widgets/QuatschSourceEditor/Makefile
qt-frontend/widgets/QuatschSourceEditor/debug
qt-frontend/widgets/QuatschSourceEditor/release
qt-frontend/widgets/QuatschSourceEditor/Makefile.Debug
qt-frontend/widgets/QuatschSourceEditor/Makefile.Release
qt-frontend/widgets/QuatschSourceEditor/QuatschSourceEditor
qt-frontend/widgets/QuatschSourceEditor/qrc_resources.cpp

qt-frontend/widgets/SpectralColorPicker/SpectralColorPicker
qt-frontend/widgets/SpectralColorPicker/Makefile
qt-frontend/widgets/SpectralColorPicker/Makefile.Debug
qt-frontend/widgets/SpectralColorPicker/Makefile.Release
qt-frontend/widgets/SpectralColorPicker/debug/
qt-frontend/widgets/SpectralColorPicker/release/
qt-frontend/widgets/SpectralColorPicker/object_script.SpectralColorPicker.Debug
qt-frontend/widgets/SpectralColorPicker/object_script.SpectralColorPicker.Release

qt-frontend/widgets/TristimulusColorPicker/SpectralColorPicker
qt-frontend/widgets/TristimulusColorPicker/Makefile
qt-frontend/widgets/TristimulusColorPicker/Makefile.Debug
qt-frontend/widgets/TristimulusColorPicker/Makefile.Release
qt-frontend/widgets/TristimulusColorPicker/debug/
qt-frontend/widgets/TristimulusColorPicker/release/
qt-frontend/widgets/TristimulusColorPicker/object_script.SpectralColorPicker.Debug
qt-frontend/widgets/TristimulusColorPicker/object_script.SpectralColorPicker.Release

qt-frontend/widgets/Picohelp/Makefile
qt-frontend/widgets/Picohelp/Makefile.Debug
qt-frontend/widgets/Picohelp/Makefile.Release
qt-frontend/widgets/Picohelp/Picohelp
qt-frontend/widgets/Picohelp/qrc_resources.cpp
qt-frontend/widgets/Picohelp/help-content
qt-frontend/widgets/Picohelp/debug/
qt-frontend/widgets/Picohelp/release/


upstream/*