dist-extras/
DIST-EXTRAS/
deb/deb.template/usr/share/picogen/help-content/
deb/DEBS/
deb/picogen-*.deb
deb/picogen-*.tar.gz
nsis/data/*.dll
nsis/data/*.exe
nsis/data/help-content
nsis/data/repository/
