[Desktop Entry]
Name=Picogen:Picohelp
Comment=Standalone help browser for picogen
Icon=/usr/share/picogen/icons/picohelp.png
GenericName=Standalone help browser for picogen
Categories=Application;Graphics;
Exec=picohelp
StartupNotify=false
Terminal=false
Type=Application


