# git-ls-files --others --exclude-from=.git/info/exclude
# Lines that start with '#' are comments.
# For a project mostly in C, the following would be a good set of
# exclude patterns (uncomment them if you want to use them):
*.[oa]
# *~
a.out
moc_*
ui_*
qrc_icons.*
*.pro.user
renderer/redshift/bin/

gui/widgets/QtQuatschEditor/build/Makefile
gui/widgets/QtQuatschEditor/build/QtQuatschEditor

gui/widgets/QtSunSkyEditor/Makefile
gui/widgets/QtSunSkyEditor/QtSunSkyEditor

gui/widgets/ColorPicker/Makefile
gui/widgets/ColorPicker/ColorPicker
gui/widgets/ColorPicker/Makefile.Debug
gui/widgets/ColorPicker/Makefile.Release
gui/widgets/ColorPicker/debug/
gui/widgets/ColorPicker/release/

gui/SimplexGui/debug/
gui/SimplexGui/release/
gui/SimplexGui/help-content/
gui/SimplexGui/Makefile
gui/SimplexGui/Makefile
gui/SimplexGui/qrc_qtpropertybrowser.cpp
gui/SimplexGui/qteditorfactory.moc
gui/SimplexGui/qtpropertymanager.moc
gui/SimplexGui/qttreepropertybrowser.moc
gui/SimplexGui/picogen-simplex
gui/SimplexGui/Makefile.Debug
gui/SimplexGui/Makefile.Release
gui/SimplexGui/object_script.simplex-gui.Debug
gui/SimplexGui/object_script.simplex-gui.Release
gui/SimplexGui/qrc_resources.cpp
gui/SimplexGui/repository

gui/StyleDemo/Makefile
gui/StyleDemo/debug
gui/StyleDemo/release
gui/StyleDemo/StyleDemo
gui/StyleDemo/Makefile.Debug
gui/StyleDemo/Makefile.Release

gui/widgets/QuatschSourceEditor/Makefile
gui/widgets/QuatschSourceEditor/help-content/
gui/widgets/QuatschSourceEditor/debug
gui/widgets/QuatschSourceEditor/release
gui/widgets/QuatschSourceEditor/Makefile.Debug
gui/widgets/QuatschSourceEditor/Makefile.Release
gui/widgets/QuatschSourceEditor/QuatschSourceEditor
gui/widgets/QuatschSourceEditor/picogen-quatsch-editor
gui/widgets/QuatschSourceEditor/qrc_resources.cpp

gui/widgets/SpectralColorPicker/SpectralColorPicker
gui/widgets/SpectralColorPicker/Makefile
gui/widgets/SpectralColorPicker/Makefile.Debug
gui/widgets/SpectralColorPicker/Makefile.Release
gui/widgets/SpectralColorPicker/debug/
gui/widgets/SpectralColorPicker/release/
gui/widgets/SpectralColorPicker/object_script.SpectralColorPicker.Debug
gui/widgets/SpectralColorPicker/object_script.SpectralColorPicker.Release

gui/widgets/TristimulusColorPicker/TristimulusColorPicker
gui/widgets/TristimulusColorPicker/Makefile
gui/widgets/TristimulusColorPicker/Makefile.Debug
gui/widgets/TristimulusColorPicker/Makefile.Release
gui/widgets/TristimulusColorPicker/debug/
gui/widgets/TristimulusColorPicker/release/
gui/widgets/TristimulusColorPicker/object_script.SpectralColorPicker.Debug
gui/widgets/TristimulusColorPicker/object_script.SpectralColorPicker.Release

gui/widgets/Picohelp/Makefile
gui/widgets/Picohelp/Makefile.Debug
gui/widgets/Picohelp/Makefile.Release
gui/widgets/Picohelp/Picohelp
gui/widgets/Picohelp/picohelp
gui/widgets/Picohelp/qrc_resources.cpp
gui/widgets/Picohelp/help-content
gui/widgets/Picohelp/debug/
gui/widgets/Picohelp/release/

gui/CosyGui/Makefile
gui/CosyGui/Makefile.Debug
gui/CosyGui/Makefile.Release
gui/CosyGui/release/
gui/CosyGui/debug/

aux/xyto/Xytoplax/Makefile
aux/xyto/Xytoplax/Xytoplax

upstream/*
BUILD/

compile
configure
depcomp
install-sh
missing
Makefile.in
aclocal.m4
autom4te.cache
.deps/
.dirstamp
config.log
config.status
Makefile
picogen-pure

m4/config.guess
m4/config.sub
m4/libtool.m4
m4/ltmain.sh
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4